tensorflow-cpu==2.10.0
streamlit==0.87.0
keras==2.10.0
Keras-Preprocessing==1.1.2
numpy==1.23.3
pickleshare==0.7.5
pandas==1.4.4
nltk==3.7
sklearn==0.0
seaborn==0.12.0
matplotlib==3.5.3
matplotlib-inline==0.1.6
plotly==5.10.0
